h1 {
  color: red;
}

@media (min-width: 768px) {
  h1 {
    color: blue;
    font-size: 50px;
  }
}

/* LISTA DE BREAKPOINTS 
Mobile - Padrão
Acima de 576px (Landscape)
Acima de 768px (Tablets)
Acima de 992px (Dispositivos Grande)
Acima de 1200px (Dispositivos Extra Grandes) 
*/
