form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

input,
textarea {
  margin-bottom: 12px;
}

span {
  margin-bottom: 10px;
}

textarea {
  resize: none;
}
